/*Tipo de letra - Ubuntu - */
@import url( 'https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,700');

body,
html {
    font-family: 'Ubuntu', sans-serif;
    background-color: purple;
}

/*Header configuración*/
.profile {
    display: flex;
    margin-top: 15px;
    margin-left: 180px;

}

.description {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.social {
    display: flex;
    justify-content: center;

}
.tech-icon {
     width: 50px;
     height: 50px;
     align-items: center;
     justify-content: center;
}
.bio {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.subio {
    display: inline-block;
    color: white;
    margin-left: 20px;
}
.margin-card {
    margin: 10px;
    border-radius: 5px;
}
.chips {
    display: inline-block;
    background-color: white;
    padding: 10px;
    margin: 2%;
    font-weight: 700;
    border-radius: 8px;
}
/*Decoración fecha project/career*/
.date-card {
    padding: 10px;
    color: white;
    border-radius: 8px;
    background-color: purple;
    display: inline-block;
    font-weight: 500;
}
.space {
    margin: 20px;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
}
.decorar-sub {
    display: inline-block;
    padding: 8px;
    border-radius: 5px;
    color: white;
    background-color: green;
}
.space img {
    border-radius: 10px;
}

.author {
    display: inline-block;
    color: white;
    border-radius: 20px;
    padding: 20px;
    background: #ad5389;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 2.1em;
}

.email {
    display: inline-block;
    color: white;
    background: #ad5389;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 8px;
    border-radius: 10px;
    font-size: 1.3em;
}


/*Responsive para escritorio*/

/*Próximamente*/